

<section id="hero" class="my-bg d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1 class="fade-in-from-left" >Dive into React: Where Creativity Meets Code</h1>
          <h2 class="fade-in-from-right">Component Structure, State Management, Hooks, Routing: Empowering Developers for React Mastery and Innovation</h2>
        </div>
      </div>
      <div class="text-center">
        <a routerLink="/docs" class="btn-get-started scrollto">Get Started</a>
      </div>
  
      <div class="row icon-boxes">
        <div class="fade-in-from-left col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="ri-stack-line"></i></div>
            <h4 class="title"><a routerLink="/docs">Learn</a></h4>
            <p class="description">Absorb knowledge through study, practice, and application of concepts.</p>
          </div>
        </div>
  
        <div class="fade-in-from-left col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="ri-palette-line"></i></div>
            <h4 class="title"><a routerLink="/docs">Explore</a></h4>
            <p class="description">Engage with a subject in a curious and experimental way</p>
          </div>
        </div>
  
        <div class="fade-in-from-right col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="ri-command-line"></i></div>
            <h4 class="title"><a routerLink="/docs">Devlop</a></h4>
            <p class="description">Build upon existing skills and knowledge to create something new</p>
          </div>
        </div>
  
        <div class="fade-in-from-right col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="ri-fingerprint-line"></i></div>
            <h4 class="title"><a routerLink="/docs">Optimize</a></h4>
            <p class="description">Enhance Performance, Debug Effectively, and Apply Advanced Patterns for Seamless React Development</p>
          </div>
        </div>
  
      </div>
    </div>
  </section><!-- End Hero -->
  
  
